<div class="row">
    <div class="col-md-8">
        <div *ngIf="showResultsDiv">
            <ghost-list [ghosts]="ghosts" fxLayout="row wrap"></ghost-list>
        </div>
        <div class="row" *ngIf="!showResultsDiv">
            <div *ngFor="let article of data" class="card col-6">
              <!-- <div class="col-5"> -->
                  <div class="row  pt-3">
                      <div class="col-4">
                        <div *ngIf='article.categories[0].image=="NA"; else notShow '>
                            <img src="../../assets/images/nophoto_thumbnail.png" />
                          </div>
                      
                          <ng-template #notShow>
                            <img src="{{article.image}}" style="width: 100px;height: 100;"/>
                          </ng-template>

                      </div>
                      <div class="col-8">
                        <div class="card-body">
                            <h3>{{ article.name }}</h3>
                            <p>{{ article.description }}</p>
                            <button type="button"
                            class="button success large js-btn-add"
                            (click)="addProductToCart(article)">Add To Cart</button>
                        </div>

                      </div>
                  <!-- </div> -->
              </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    
        <div class="row px-3 pt-3">
            <div class="small-12 columns">
              <h3>
                <i class="material-icons">shopping_basket</i>
                Your Shopping Basket
              </h3>
            </div>
          </div>
          <br/>
          <div class="row px-3">
            <div class="small-12 columns">
              <h5>
                Sub Total ({{itemCount}} items):
                <!-- <span class="text--red text--bold js-cart-total">{{(cart | async).grossTotal | currency:'GBP':true}}</span> -->
              </h5>
            </div>
          </div>
          <br/>
          <div class="row px-3">
            <div class="small-12 columns">
              <a class="success button large expanded"
                 [attr.disabled]="itemCount === 0 ? true : null"
                 routerLink="/checkout">Proceed To Checkout</a>
            </div>
          </div>
          <div class="row px-3">
            <div class="small-12 columns text-center">
              or
            </div>
          </div>
          <div class="row px-3">
            <div class="small-12 columns">
              <button type="button"
                      class="secondary button small expanded js-btn-empty-cart"
                      (click)="emptyCart()"
                      [attr.disabled]="itemCount === 0 ? true : null">
                Empty shopping basket
              </button>
            </div>
          </div>
          
    </div>
</div>
