.w{
  /* background:; */
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 60.53%), url('../../assets/images/Dubai850x566.png'), #F1FAFB;
  
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  margin-top: 0px;
}
.card{
    padding: 10px;
}