<div class="row">
    <!-- <div class="col-md-6">
        dsdfl
    </div> -->
    <div class="card " *ngIf="weatherCondition else other_content">
        <div [ngSwitch]="weatherCondition">
            <div *ngSwitchCase="'Rain'"><i class="wi wi-night-sleet font-65 purple center"></i></div>
            <div *ngSwitchCase="'Sunny'"><i class="wi wi-day-sunny font-65 purple center"></i></div>
        </div>
        <div class="card-body">
            <p class="card-text">Today's Weather Condition in {{cityName}} is {{weatherCondition}}
                <app-time></app-time>
            </p>

        </div>
    </div>
    <ng-template #other_content>Loading Weather... </ng-template>
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{errorMessage | json}}
        <app-time></app-time>
    </div>
</div>