.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  grid-gap: 15px;
}

.container>.card img {
  max-width: 100%;
  height: 250px;
}

.container>.card:hover {
  box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

.formfield {
  padding: 20px;
}

.center {
  padding: 20px;
}
